.lecture ul{
life-style-type:none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

.lecture-file-list a{
	display:block;
	font-size: 2em;
	text-decoration:none;
	text-indent: 40px;	
	background-repeat:no-repeat;
}

a[href$=".pdf"]{
	background-image: url("../images/pdf.png");
}
a[href$=".xls"]{
	background-image: url("../images/xls.png");
}
a[href$=".txt"]{
	background-image: url("../images/txt.png");
}
a[href$=".jpg"]{
	background-image: url("../images/jpg.png");
}
a[href$=".png"]{
	background-image: url("../images/png.png");
}
a[href$=".mp3"]{
	background-image: url("../images/mp3.png");
}
a[href$=".psd"]{
	background-image: url("../images/psd.png");
}
a[href$=".html"]{
	background-image: url("../images/html.png");
}
a[href$=".mp4"]{
	background-image: url("../images/mp4.png");
}
a[href$=".gif"]{
	background-image: url("../images/gif.png");
}
a[href$=".mov"]{
	background-image: url("../images/mov.png");
}
a[href$=".avi"]{
	background-image: url("../images/avi.png");
}
a[href$=".tiff"]{
	background-image: url("../images/tiff.png");
}